<div class="main-content">
  <div class="col-sm-6 col-md-3" style="margin: auto;">
    <div class="card">
      <div class="card-header card-header-pills table-header">
        <h3 class="card-title">Login</h3>
        <h5 class="card-category">Complete Record</h5>
      </div>
      <div class="card-body">
        <br />
        <div>
          <img src="../../assets/img/faces/user.png" class="mx-auto d-block user-image">
        </div>
        <form #formData='ngForm' autocomplete="off" class="form-group">
          <br />
          <div *ngIf="errorMessage$ | async as errorMessage" class="incorrect-credentials alert alert-danger" role="alert" id="incorrect-text"
            [style.visibility]="errorMessage !== '' ? 'visible' : 'hidden'">
            {{errorMessage}}
          </div>
          <div>
            <div>
              <mat-form-field class="user-input">
                <input matInput placeholder="Email" type="email" ngModel name="Email" required minlength="4">
              </mat-form-field>
            </div>
          </div>
          <div>
            <div>
              <mat-form-field class="user-input">
                <input matInput placeholder="Password" type="password" ngModel name="Password" required minlength="4">
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="offset-md-4">
          <button mat-button type="submit" class="btn col-md-6 primary-button"
            (click)="onSubmit(formData)">Login</button>
        </div><br />
        <footer>
          <p class="row justify-content-center ">Do you not have an account? &nbsp; <a [routerLink]=" ['/register']"
              class="link-button"><strong>Sign up here...</strong></a> </p>
        </footer>
      </div>
    </div>
  </div>
</div>
