<div class="main-content">
  <div class="col-sm-6 col-md-3" style="margin: auto;">
    <div class="card">
      <div class="card-header card-header-pills table-header">
        <h3 class="card-title">Registration</h3>
        <h5 class="card-category">Complete Record</h5>
      </div>
      <div class="card-body">
        <br />
        <div>
          <img src="../../assets/img/faces/register.svg" class="mx-auto d-block user-image">
        </div>
        <form #formData='ngForm' class="form-group">
          <mat-form-field class="user-input">
            <input matInput placeholder="Username" type="text" ngModel name="Username" (input)="onFormChanged(formData)" required data-error="Please enter valid Username." minlength="3">
          </mat-form-field>
          <mat-form-field class="user-input">
            <input matInput placeholder="Email" type="email" ngModel name="Email" (input)="onFormChanged(formData)" required data-error="Please enter valid email." minlength="5">
          </mat-form-field>

          <mat-form-field class="user-input">
            <input matInput placeholder="First Name" type="text" ngModel name="FirstName" (input)="onFormChanged(formData)" required data-error="Please enter valid full name." minlength="1">
          </mat-form-field>

          <mat-form-field class="user-input">
            <input matInput placeholder="Last Name" type="text" ngModel name="LastName" (input)="onFormChanged(formData)" required data-error="Please enter valid last name." minlength="1">
          </mat-form-field>

          <mat-form-field class="user-input">
            <input matInput placeholder="Password" type="password" ngModel name="Password" (input)="onFormChanged(formData)" required data-error="Please enter valid full name." minlength="4">
          </mat-form-field>

          <mat-form-field class="user-input">
            <input matInput placeholder="Confirm Password" type="password" ngModel name="ConfirmPassword" (input)="onFormChanged(formData)" required data-error="Please enter valid full name." minlength="4">
          </mat-form-field>

        </form>
        <div class="offset-md-4">
          <button mat-button type="submit" class="btn col-md-6" (click)="onSubmit(formData)" [(disabled)]="!formValid">Register</button>
        </div><br />
        <footer>
          <p class="row justify-content-center">Already have an account? &nbsp; <a [routerLink]=" ['/login']"
              class="link-button"><strong>Login here...</strong></a> </p>
        </footer>
      </div>
    </div>
  </div>
</div>
