/* You can add global styles to this file, and also import other style files */
@import './assets/variables.scss';

.user-input{
    padding-left: 5%;
    padding-right: 5%;
}

.table-header {
  background-color: $red !important
}

.table-row:hover {
  background-color:$grey !important;
  color: #ffffff;
}

.user-image{
  width: 30%;
  height:30%;
}

.primary-button {
  background-color: $dark-grey;
}

.link-button {
  color: $dark-grey;
}

.bar:hover {
    background-color:$grey !important;
    color:$grey !important;
}
